<div class="test-container">
  <h2>{{ testTitle }}</h2>
  <p>{{ testDescription }}</p>
  <p><strong>Time Limit:</strong> {{ testTime }} minutes</p>

  
  <div *ngIf="questions && questions.length > 0; else noQuestions">
    <form>

      <div class="question" *ngFor="let question of questions">
        <h3>{{ question.questionText }}</h3>


        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" value="A" />
            {{ question.optionA }}
          </label>
        </div>



        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" value="B" />
            {{ question.optionB }}
          </label>
        </div>

        <div>


          <label>
            <input type="radio" name="question{{ question.id }}" value="C" />
            {{ question.optionC }}
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="question{{ question.id }}" value="D" />
            {{ question.optionD }}
          </label>
        </div>
      </div>
    </form>
  </div>



  <!-- Show this message when no questions are found -->
  <ng-template #noQuestions>
    <p style="text-align:center; font-size: 1.2em; color: red;">No questions available for this test.</p>
  </ng-template>
</div>
