<div class="bg">
  <div class="parent">
    <div nz-row class="imgDiv">
      <h1>Add Question</h1>
    </div>

    <div class="child">
      <form nz-form [formGroup]="questionForm" class="login-form" (ngSubmit)="submitForm()">
        
        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Question Title</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="questionText" placeholder="Enter Question Text" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Option A</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="optionA" placeholder="Enter Option A" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Option B</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="optionB" placeholder="Enter Option B" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Option C</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="optionC" placeholder="Enter Option C" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Option D</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="optionD" placeholder="Enter Option D" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzNoColon]="true">Correct Option</nz-form-label>
          <nz-form-control nzErrorTip="This input is required!">
            <input type="text" nz-input formControlName="correctOption" placeholder="Enter Correct Option (A, B, C, or D)" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" nzType="primary" [disabled]="questionForm.invalid">
              Submit Question
            </button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>
  </div>
</div>
